{{ 'about-us-banner.css' | asset_url | stylesheet_tag }}

<style>
  .about-us__banner::before {
    background: {{ section.settings.bg_background_color }};
    opacity: 0.8;
  }

  .about-us__banner.section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
</style>

<section class="about-us__banner section-{{ section.id }}">
  {% if section.settings.bg_image != blank %}
    <div class="about-us__banner-bg">
      <img
        src="{{ section.settings.bg_image | img_url:'master' }}"
        width="100%"
        height="100%"
        alt="{{ section.settings.bg_image.alt }}"
      >
    </div>
  {% endif %}

  <div class="page-width">
    <div class="about-us__banner-content">
      {% if section.settings.subtitle != blank %}
        <p class="about-us__banner-subtitle"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-fuel w-4 h-4" aria-hidden="true"><path d="M14 13h2a2 2 0 0 1 2 2v2a2 2 0 0 0 4 0v-6.998a2 2 0 0 0-.59-1.42L18 5"></path><path d="M14 21V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v16"></path><path d="M2 21h13"></path><path d="M3 9h11"></path></svg></span> {{ section.settings.subtitle }}</p>
      {% endif %}

      {% if section.settings.title != blank %}
        <h2 class="about-us__banner-title">{{ section.settings.title }}</h2>
      {% endif %}

      {% if section.settings.content != blank %}
        <div class="about-us__banner-text">{{ section.settings.content }}</div>
      {% endif %}

      <div class="about-us__banner-buttons">
        {% if section.settings.primary_btn_txt != blank %}
          <a href="{{ section.settings.primary_btn_link }}" class="btn btn--primary">
            {{ section.settings.primary_btn_txt }}
          </a>
        {% endif %}
        {% if section.settings.secondary_btn_txt != blank %}
          <a href="{{ section.settings.secondary_btn_link }}" class="btn btn--secondary">
            {{ section.settings.secondary_btn_txt }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Us Banner",
  "tag": "section",
  "class": "about-us-banner",
  "settings": [
    { "type": "header", "content": "Content" },
    { "type": "text", "id": "title", "label": "Title", "default": "A Energizar Comunidades com Energia Fiável" },
    { "type": "text", "id": "subtitle", "label": "Subtitle", "default": "A Impulsionar a Sua Viagem Desde 1998" },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Somos uma empresa de distribuição de combustível de confiança com 13 postos de abastecimento modernos em toda a região, empenhados em oferecer excelência no serviço e na qualidade do combustível.</p>"
    },

    { "type": "header", "content": "Background" },
    { "type": "image_picker", "id": "bg_image", "label": "Background Image" },
    { "type": "color", "id": "bg_background_color", "label": "Background Image Color" },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 60
    },
    { "type": "header", "content": "Buttons" },
    { "type": "text", "id": "primary_btn_txt", "label": "Primary Button Text", "default": "As Nossas Localizações" },
    { "type": "url", "id": "primary_btn_link", "label": "Primary Button Link" },
    { "type": "text", "id": "secondary_btn_txt", "label": "Secondary Button Text", "default": "Contacte-nos" },
    { "type": "url", "id": "secondary_btn_link", "label": "Secondary Button Link" }
  ],
  "presets": [{ "name": "About Us Banner", "settings": {} }]
}
{% endschema %}
