{{ 'section-services-list.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #ServicesList-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<section id="ServicesList-{{ section.id }}" class="services-list-section">
  <div class="page-width services-wrapper">

    {% if section.settings.title != blank %}
      <h2 class="services-title">{{ section.settings.title }}</h2>
    {% endif %}

    {%- assign station_services = page.metafields.custom.custom_station.value.services.value -%}


    {%- if station_services -%}      
      <div class="services-grid">
        {% for block in station_services %}
          <div class="service-item">
            {% if block.icon != blank %}
              <img src="{{ block.icon | img_url: '80x' }}" width="auto" height="auto" alt="{{ block.text | escape }}">
            {% else %}
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 13l4 4L19 7" stroke="#E74C3C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            {% endif %}
            <span>{{ block.name }}</span>
          </div>
        {% endfor %}
      </div>
    {%- endif -%}


  </div>
</section>

{% schema %}
{
  "name": "Services List Section",
  "tag": "section",
  "class": "services-list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Serviços"
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Service Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Service Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Services List Section",
      "blocks": [
        { "type": "service" },
        { "type": "service" },
        { "type": "service" }
      ]
    }
  ]
}
{% endschema %}
