{{ 'section-template-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #TemplateBanner-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  .banner__title {
    color: {{ section.settings.font_color }};
  }

  .banner__back-link {
    color: {{ section.settings.font_color }};
  }
{%- endstyle -%}

<section
  id="TemplateBanner-{{ section.id }}"
  class="template-banner{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  <div class="page-width banner-wrapper">
    <div class="banner__content-wrapper banner--align-{{ section.settings.desktop_alignment }}">
      {% if section.settings.banner_link %}
        <a href="{{ section.settings.banner_link }}" class="banner__back-link">
          <svg width="16" height="16" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.5 1L1.5 6L6.5 11" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

          <span>{{ section.settings.banner_link_text }}</span>
        </a>
      {% endif %}

      {% assign banner_title = page.metafields.custom.custom_station.value.name %}
      {% if banner_title != blank %}
        <h1 class="banner__title">{{ banner_title }}</h1>
      {% endif %}
    </div>

    {% if section.settings.banner_image != blank %}
      <div class="banner__media{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{
          section.settings.banner_image
          | image_url: width: 800
          | image_tag:
            width: section.settings.banner_image.width,
            height: section.settings.banner_image.height,
            class: 'banner__image',
            alt: section.settings.title,
            loading: 'lazy',
            sizes: '(min-width: 750px) 250px, 100vw',
            widths: '200, 400, 600, 800'
        }}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Template Banner",
  "tag": "section",
  "class": "template-banner",
  "settings": [
    {
      "type": "text",
      "id": "banner_link_text",
      "label": "Back Link Text",
      "default": "Voltar ao mapa"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Back Link URL"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#00223A"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font Color",
      "default": "#FFF"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "label": "Text Alignment (Desktop)",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Template Banner"
    }
  ]
}
{% endschema %}
